name: CI
permissions:
  contents: read

on:
  push:
    branches: ['main']
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        rust: [stable, beta, 1.81.0]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@master
        id: toolchain
        with:
          toolchain: ${{ matrix.rust }}
      - uses: Swatinem/rust-cache@v1
      # Needed for wolfssl-sys to build
      - name: Install autotools (macOS)
        if: matrix.os == 'macos-latest'
        run: brew install autoconf automake libtool
      - name: Install OpenSSL (Windows)
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          Invoke-WebRequest https://www.firedaemon.com/download-firedaemon-openssl-3-6-zip -OutFile $env:TEMP\openssl.zip
          if ((Get-FileHash $env:TEMP\openssl.zip -Algorithm SHA256).Hash -ne "C1C831E8BCCE7D6C204D6813AAFB87C0D44DD88841AB31105185B55CDEC1D759") { throw "Checksum mismatch" }
          Expand-Archive $env:TEMP\openssl.zip -DestinationPath C:\openssl-3.6.0 -Force
          echo "OPENSSL_DIR=C:\openssl-3.6.0\x64" >> $env:GITHUB_ENV
      - name: Build
        run: cargo +${{steps.toolchain.outputs.name}} build
      - name: Test
        run: cargo +${{steps.toolchain.outputs.name}} test --features test-helpers

  test_features:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        rust: [stable, beta, 1.81.0]
        feature: [aws-lc-rs, rust-crypto, rcgen]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@master
        id: toolchain
        with:
          toolchain: ${{ matrix.rust }}
      - uses: Swatinem/rust-cache@v1
      # Needed for wolfssl-sys to build
      - name: Install autotools (macOS)
        if: matrix.os == 'macos-latest'
        run: brew install autoconf automake libtool
      - name: Install OpenSSL (Windows)
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          Invoke-WebRequest https://www.firedaemon.com/download-firedaemon-openssl-3-6-zip -OutFile $env:TEMP\openssl.zip
          if ((Get-FileHash $env:TEMP\openssl.zip -Algorithm SHA256).Hash -ne "C1C831E8BCCE7D6C204D6813AAFB87C0D44DD88841AB31105185B55CDEC1D759") { throw "Checksum mismatch" }
          Expand-Archive $env:TEMP\openssl.zip -DestinationPath C:\openssl-3.6.0 -Force
          echo "OPENSSL_DIR=C:\openssl-3.6.0\x64" >> $env:GITHUB_ENV
      - name: Build
        run: cargo +${{steps.toolchain.outputs.name}} build --no-default-features --features ${{ matrix.feature }},test-helpers
      - name: Test
        run: cargo +${{steps.toolchain.outputs.name}} test --no-default-features --features ${{ matrix.feature }},test-helpers

  snowflake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Martin's snowflake formatting rules
        uses: algesten/snowflake@v1.0.4
        with:
          check_diff: true
          line_width_rules: 'CHANGELOG.md:120;c_cpp_properties.json:160;Cargo.toml:200;README.md:180;README.tpl:180;*.md:110;*.rs:110;*.toml:200;DEFAULT=110'

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@master
        id: toolchain
        with:
          toolchain: stable
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v1
      - name: fmt
        run: cargo +${{steps.toolchain.outputs.name}} fmt --all -- --check
      - name: clippy
        run: cargo +${{steps.toolchain.outputs.name}} clippy -- -D warnings
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy
      - name: doc
        run: cargo doc --no-deps
        env:
          RUSTDOCFLAGS: -Dwarnings

  # cargo-deny:
  #   name: cargo-deny

  #   # TODO: remove this matrix when https://github.com/EmbarkStudios/cargo-deny/issues/324 is resolved
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       platform:
  #         - aarch64-apple-ios
  #         - aarch64-linux-android
  #         - i686-pc-windows-gnu
  #         - i686-pc-windows-msvc
  #         - i686-unknown-linux-gnu
  #         - wasm32-unknown-unknown
  #         - x86_64-apple-darwin
  #         - x86_64-apple-ios
  #         - x86_64-pc-windows-gnu
  #         - x86_64-pc-windows-msvc
  #         - x86_64-unknown-linux-gnu
  #         - x86_64-unknown-redox

  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v3
  #   - uses: EmbarkStudios/cargo-deny-action@v1
  #     with:
  #       command: check
  #       log-level: error
  #       arguments: --all-features --target ${{ matrix.platform }}
